$
.
..
.aqbanking
.audacity-data
.bash_history
.bash_logout
.bashrc
basic-install.sh
.cache
.config
.cookiecutter_replay
.cookiecutters
.dbus
Desktop
.dmrc
Documents
Downloads
.dropbox
Dropbox
.gimp-2.8
.git
.gitconfig
.gnupg
.gphoto
.ICEauthority
.icons
.inputrc
.lesshst
.local
.mozilla
Music
.octave_hist
Pictures
.profile
Public
.python_history
.recently-used
snap
.sudo_as_admin_successful
Templates
.themes
.thumbnails
.vgrive
Videos
.viminfo
.wget-hsts
.Xauthority
.xsession-errors
.xsession-errors.old
.dropbox-bin/
.dropbox-dist/
Lynx.trace
Release.key

