
.
..
.bash_history
.bash_logout
.bashrc
.cache
.config
Desktop
Documents
Downloads
.emacs.d
.git
.gnupg
.ICEauthority
.icons
.lesshst
.local
.mozilla
Music
Pictures
.pki
.profile
Public
.python_history
README.md
.ssh
Templates
.themes
Videos
.vim
.viminfo
.bash_history
.bash_logout
.bashrc
.cache
.config
Desktop
Documents
Downloads
.emacs.d
.git
.gitignore
.gnupg
.ICEauthority
.icons
.lesshst
.local
.mozilla
Music
Pictures
.pki
.profile
Public
.python_history
README.md
.ssh
Templates
.themes
Videos
.vim
.viminfo
.vimrc
vimwiki
vimwiki_html
